@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* stylelint-disable csstree/validator */
*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 32px;
  color: #121614;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: solid 2px #121614;
  padding: 20px 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-left {
  color: red;
  font-weight: 700;
  font-size: large;
  transition: font-size 3s;
}

.logo-right {
  color: #446df6;
  font-weight: 700;
  font-size: large;
  transition: font-size 3s;
}

.logo:hover {
  opacity: 0.5;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.nav-list {
  text-decoration: none;
  color: inherit;
}

.nav-list:hover {
  font-size: 102%;
  color: #446df6;
}

.blue {
  color: #446df6;
}

button {
  -webkit-box-shadow: 3px 5px 8px 2px rgba(18, 22, 20, 0.2);
  box-shadow: 3px 5px 8px 2px rgba(18, 22, 20, 0.2);
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  cursor: pointer;
  padding: 10px;
  width: 120px;
  font-weight: 700;
  border: 2px solid #121614;
}

button:hover {
  outline: none;
  border: 2px solid #a4b1aa;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #a4b1aa;
  color: #f2f2f2;
}

.book-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 3px solid #121614;
}

.book-container :nth-child(odd) {
  background: #ddd;
}

.book-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 690px;
  padding: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#add-book-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

#add-book-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

#add-book-section form input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%;
  border: 2px solid #a4b1aa;
  padding: 10px;
  color: #121614;
  width: 430px;
  font-family: inherit;
  font-size: inherit;
}

.contact-info {
  width: 100%;
}

.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  font-weight: 700;
  font-size: 305%;
  margin-bottom: 60px;
}

.contact-par {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 20px;
}

.detail-li {
  font-size: 150%;
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  border: solid 2px black;
  justify-content: center;
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
  width: 95%;
  margin-bottom: 20px;
}

.active {
  display: none;
}

.date-now {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
}
